[submodule "DSInternals"]
	path = DSInternals
	url = https://github.com/MichaelGrafnetter/DSInternals.git
[submodule "sqlmap"]
	path = sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "Snaffler"]
	path = Snaffler
	url = https://github.com/SnaffCon/Snaffler.git
[submodule "wesng"]
	path = wesng
	url = https://github.com/bitsadmin/wesng.git
[submodule "Zircolite"]
	path = Zircolite
	url = https://github.com/wagga40/Zircolite.git
[submodule "yara"]
	path = yara
	url = https://github.com/VirusTotal/yara.git
[submodule "windows_hardening"]
	path = windows_hardening
	url = https://github.com/0x6d69636b/windows_hardening.git
